<div class="{{pageStyle}}">
    <h2 class="text-primary">Добавить книгу в список</h2>
    <form name="form" class="css-form" novalidate>
        <div class="form-group">
            <label for="name"> Title
                <input type="text" id="name" name="name" class="form-control" data-ng-model='newProduct.title' required
                       ng-minlength="2">
            </label>
            <p ng-show="form.name.$error.minlength  " class="help-block"> Название книги слишком короткое.</p>
        </div>

        <div class="form-group">
            <label for="img"> Image url
                <input type="text" id="img" class="form-control" name="img" data-ng-model='newProduct.img' required
                       ng-pattern="/^(https?:\/\/)?([\da-z\.-]+)\.([a-z\.]{2,6})([\/\w \.-]*)*\/?$/">
            </label>
            <p ng-show="form.img.$error.pattern " class="help-block"> Укажите изображение книги.</p>

        </div>


        <div class="form-group">
            <label for="genre"> Genre
                <select name="selected" id="genre" data-ng-model="newProduct.genre"
                        ng-options="option for option in options" required>
                 </select>
            </label>
            <p ng-show="form.genre.$error.required  " class="help-block">Какого жанра эта книга.</p>
        </div>


        <div class="form-group">
            <label for="cost"> Cost
                <input type="text" id="cost" class="form-control" name="cost" data-ng-model='newProduct.cost' required
                       ng-pattern="/^[0-9]{1,}$/">
            </label>
            <p ng-show="form.cost.$error.pattern  " class="help-block">Введите стоимость книги.</p>
        </div>

        <div class="form-group">
            <label for="desc"> Description
                <textarea id="desc" rows="5" name="desc" class="form-control" data-ng-model='newProduct.desc' required
                          ng-minlength="2"></textarea>
            </label>
            <p ng-show="form.desc.$error.minlength " class="help-block">Укажите описание книги.</p>
        </div>
        <div class="buttonWrapper">
            <button type="submit" data-ng-click='addProduct()' class="btn btn-success" ng-disabled="form.$invalid">
                Добавить
            </button>
            <a href="/" class="btn btn-primary ">На главную</a>
        </div>
    </form>


</div>