<div class="{{pageStyle}}">
<h1>Cat Shop</h1>
<h2>Add product</h2>

<label for="name"> Name
	<input type="text" id="name" name="name" data-ng-model='newProduct.title'>
</label>
<br>
<label for="img"> Image
	<input type="text" id="img" name="img" data-ng-model='newProduct.img'>
	<input type="file" name="img" data-ng-model="newProduct.img">
</label>
<br>

<label for="desc"> Description
	<textarea id="desc" name="desc" data-ng-model='newProduct.desc'></textarea> 
</label>
<br>

<a href="#" data-ng-click='addProduct()' class="btn btn-primary btn-lg">Add</a>
</div>