<div class="{{ pageStyle }}">
    <h2>Книги на любой вкус</h2>
    <div class="buttons">
        <a href="/add" class="btn btn-primary btn-lg">Добавить книгу</a>

        <a href="/orders" data-ng-click="setOrdersNumber()" class="btn btn-primary btn-lg ">Мои заказы
            <span class="glyphicon glyphicon-flash" aria-hidden="true"></span>
            {{orders.length}}</a>
    </div>

        <select name="sorting-list"  data-ng-model="sortList.type" ng-options='option.value as option.name for option in typeOptions' >
        </select>


    <aside>
        <ul class="list-group">
            <li class="list-group-item" data-ng-repeat='genre in genreList '  ng-click="myFilter(genre.val)">
                <span class="badge">{{genre.num}}</span>  {{genre.val}}
            </li>
            <li class="list-group-item"  ng-click="myFilter(null)">
                <span  class="badge">{{products.length}}</span>Показать все книги
            </li>
        </ul>
    </aside>

    <ul class="list"   ng-show="isLoaded">
        <li data-ng-repeat='prod in products | filter: filters | orderBy: sortList.type'
            data-ng-click="showProduct(prod) "
            data-ng-model="item" class="fadein products">
            <md-card>
                <p class="genre"> {{ prod.genre }}</p>
                <a href="/product/{{ prod.id }}">
                    <h3> {{ prod.title }} </h3>
                    <img src="{{ prod.img }}" width="100" class="md-card-image" alt="image caption"/> <br>
                </a>
                <p class="desc">
                    {{ prod.description.substring(0, 50) }} ...
                </p>
                <div class="cost"> {{prod.cost}}$ </div>
            </md-card>
        </li>
    </ul>



</div>
