<div class="{{ pageStyle }}">

    <h1>Книжный магазин</h1>
    <h2>Книги на любой вкус</h2>
    <div class="buttons">
        <a href="/add" class="btn btn-primary btn-lg">Добавить книгу</a>

        <a href="/orders" data-ng-click="setOrdersNumber()" class="btn btn-primary btn-lg ">Мои заказы
            <span class="glyphicon glyphicon-flash" aria-hidden="true"></span>
            {{orders.length}}</a>
    </div>
    <select name="sorting-list"  data-ng-model="sortList" >
        <option value="" disabled selected style="display: none;">Сортировать по:</option>
        <option value="title">Название</option>
        <option value="genre">Жанр</option>
        <!--<option value="cost">Цена по убыванию</option>-->
        <option value="cost">Цена по возрастанию</option>
    </select>
    <ul class="list">
        <li data-ng-repeat='prod in products | filter: filters | orderBy: sortList' data-ng-click="showProduct(prod) "
          data-ng-model="item">
            <md-card>
                <p class="genre"> {{ prod.genre }}</p>
                <a href="/product/{{ prod.id }}">
                    <h3> {{ prod.title }} </h3>
                    <img src="{{ prod.img }}" width="100" class="md-card-image" alt="image caption"/> <br>
                </a>
                <p class="desc">
                    {{ prod.description.substring(0, 50) }} ...
                </p>
                <div class="cost"> {{prod.cost}} | currency</div>
            </md-card>
        </li>
    </ul>

    <div class="pagedown-list">
        <ul >
            <li class="list" data-ng-repeat='genre in genreList '>
                <span ng-click="myFilter(genre)">{{genre}}</span>
            </li>
            <li class="list"  ng-click="myFilter(null)">
                <span >Показать все книги</span>
            </li>
        </ul>
    </div>
</div>
