<div class="{{pageStyle}}">

    <h2>Твои заказы</h2>

    <ul class="orders-list">
        <li data-ng-repeat='order in orders | filter: order.id | orderBy: "id"'> № {{ order.id }}. <span> {{ order.title }}</span>
            - {{ order.quantity }} pc ({{ order.cost*order.quantity}} $)
            <button class="btn btn-danger" data-ng-click='removeOrder($index)'>Удалить</button>
        </li>
    </ul>
    <div class="sum"><span>Общая сумма: </span> <span class="sumInfo">{{ sum }} $</span></div>

    <a href="/" class="btn btn-primary btn-lg">На главную</a>
</div>