<div class="{{pageStyle}}" >


    <div class="product-content">
        <h1>{{ title}}</h1>
        <img class="img-responsive" src="{{ img }}" alt="img" width="300">
        <p class="desc"> {{ description }}</p>

        <p><b>Жанр: <span>{{genre}}</span></b>
        </p>
    </div>
<div class="buttons-wrap">
    <a href="#orders" class="btn btn-danger btn-lg buy" data-ng-click="addOrder(item)">Купить всего за $ {{ cost }}</a>
    <a  href="#" ng-click="deleteProduct()" ng-show="isAdmin" class="btn btn-warning">Удалить книгу</a>
    <a href="#" ng-click="addWish()" ng-show="isLogin" class="btn btn-primary">Добавить в избранное</a>
    <a href="/" class="btn btn-info">На главную</a>

</div>


</div>