<div class="{{pageStyle}}">
    <md-toolbar class="md-warn">
        <a href="#orders" class="btn btn-primary btn-lg buy" data-ng-click="addOrder(item)">Купить всего за  $ {{ cost }}</a>

    </md-toolbar>

    <md-content flex layout-padding>
        <h1>{{ title}}</h1>
        <img  class="img-responsive" src="{{ img }}" alt="img" width="300">
        <p class="desc"> {{ description }}</p>

       <p>  <b>Жанр: <span>{{genre}}</span></b>
       </p>
    </md-content>

    <a href="/orders" ng-click="deleteProduct()" class="btn btn-warning">Удалить книгу</a>
    <a href="/"   class="btn btn-info">На главную</a>

</div>