
<div    class="auth__register" >
    <form name="registerForm" class="css-form" novalidate>
    <input type="text" name="login"  ng-model="login" placeholder="Login" class="form-control auth-input"
           required ng-pattern="/^[a-zA-Z0-9]+$/" autocomplete="off">
    <input type="text" name="username"  ng-model="username" placeholder="Your Name" class="form-control auth-input"
            required   ng-pattern="/^[a-zA-Z\-]+$/" autocomplete="off">
    <input type="password" name="password"  ng-model="password" placeholder="Password" class=" form-control auth-input"
           required  ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$/" autocomplete="off">
    <input type="email" name="email"  ng-model="email" placeholder="Email" class=" form-control auth-input"
           required  ng-pattern='/^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/' autocomplete="off">
    <p ng-if="registerForm.login.$error.pattern " class="help-block"> Логин должен соддержать цифры и буквы</p>
    <p ng-if="registerForm.username.$error.pattern " class="help-block">  Ваше имя должно состоять только из букв</p>
    <p ng-if="registerForm.password.$error.pattern " class="help-block"> Пароль должен содержать минимум 8  символов(цифры и буквы)  </p>
    <p ng-if="registerForm.email.$error.pattern " class="help-block"> Укажите свою эдектронную почку в правильном формате</p>
    </form>
    <div class="button-wraper">
        <button type="button" ng-click="registered()" ng-disabled="registerForm.$invalid" class="btn btn-success auth-input">Register</button>
        <a href="/" class="btn btn-info">На главную</a>

    </div>

</div>
<!--type="submit"-->
<!--/^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$/;-->
<!--"^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$"-->
<!--/^[a-zA-Z0-9]+$/-->