

<div class="secret-page">
   <h4>Привет,  {{ userData.username}}</h4>
   <div class="row userData">
      <div class="col-sm-7 col-sm-offset-1">
         <div class="col-sm-6 userData-item"><a href="/me/orders">Последние заказы</a></div>
         <div class="col-sm-6 userData-item"><a href="/me/wishes">Ваши желания</a></div>
        </div>
      <div class="col-sm-4"></div>
   </div>
   <div class="row userData">
      <div class="col-sm-7 col-sm-offset-1">
         <div class="col-sm-6 userData-item"><a href="/me/info">Ваша учетная запись</a></div>
         <div class="col-sm-6 userData-item"><a href="#"  ng-click="logout()">Выйти<span class=" glyphicon glyphicon-log-out" aria-hidden="true"></a></span></div>
      </div>
      <div class="col-sm-4"></div>
   </div>
   <!--<div class="userData">-->
      <!--<h2 class="userData-greeting"> Привет,  {{ userData.username}}</h2>-->
      <!--<h3 class="userData-date-reg">Ты с книжным клубом с {{userData.dateOfRegistration}}</h3>-->
      <!--<h3 class="userData-last-order"> Твой последний заказ был {{ userData.lastOrderData}}</h3>-->
      <!--<h4 class="userData-last-order-count"> на сумму {{ userData.lastOrdersCount}}</h4>-->
   <!--</div>-->
   <!--<ul class="list-of-wishes">-->
      <!--<li ng-repeat="wish in userData.wishes | orderBy: wish.date "> {{wish.name}} - {{ wish.cost }}$</li>-->
   <!--</ul>-->
</div>


