 <p> me info</p>

 <form name="updateUser">
     <label for="username">Вашe имя</label>
     <input type="text" id="username" ng-model="userData.username" value="userData.username" class="form-control">
     <p></p>
     <select name="birth.day" id="birth.day"></select>
     <label for="password-old">Текущий пароль  </label>
     <input type="password" id="password-old"  ng-model="userData.password" class="form-control">
     <p ng-show="!isEqualPasswordToLast " class="help-block">Пароль не должен совпадать с текущим </p>
     <label for="password-new1"> Новый пароль  </label>
     <input type="password" id="password-new1"   ng-model="userData.passwordNew" class="form-control">
     <label for="password-new2"> Пароль еще раз</label>
     <input type="password" id="password-new2"  ng-model="userData.passwordNew1" class="form-control">
     <p ng-show="!isEqualPasswords" class="help-block">Пароли должны быть равны</p>
     <button ng-click="saveChanges(userData.username, userData.password, userData.passwordNew, userData.passwordNew1)"
             class="btn btn-warning save-button">Сохранить</button>
     <p ng-show="isChanged" class="help-block__green">Учетная запись изменена</p>

 </form>