.icon-facebook {
  background-image: url(../img/sprite.png);
  background-position: 0px -462px;
  width: 32px;
  height: 32px;
}
.icon-github-logo {
  background-image: url(../img/sprite.png);
  background-position: -33px -462px;
  width: 32px;
  height: 32px;
}
.icon-linkedin {
  background-image: url(../img/sprite.png);
  background-position: -66px -462px;
  width: 32px;
  height: 32px;
}
.icon-page-white {
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 500px;
  height: 461px;
}
