
.addStyle {
  h1 {
    font-size: 26px;
    margin: 5px;
    text-align: center;
  }
  h2 {
    font-size: 14px;
    text-align: center;

  }
  .form-group {
    width: 50%;
    margin: auto;
    label {
      width: 100%;
      color: @mainFontColor;
      font-size: 18px;
    }
  }
  a {
    display: block;
    margin: auto;
    width: 20%;
  }
}
