.mainPageStyle {

  .top-page-wrapper {
    width: 70%;
    float: right;
  }

  h1, h2 {
    text-align: center;
  }
  h2 {
    color: @mainFontColor;
    font-size: 16px;
  }
  h1 {
    margin: 10px 20px;
    float: left;
  }
  .top-page{
    width: 95%;
    margin-right: 5%;
    position: relative;
     a {
      float: right;
      display: inline-block;
      margin: 10px 5px;
    }

  }
  .disabled {
    color: @pink;
  }

  .auth  {
    width: 50%;
    float: right;
    display: block;
    h3 {
      font-size:2em;
      color: @pink;
    }
  }

  aside {
    width: 30%;
    display: inline-block;
    float: left;
  }
  .list-group-item > .badge {
    background: cadetblue;
  }

  li.list-group-item {
    color: @lightBlue;
    font-size: 18px;
    transition: all 0.4s;
    &:hover {
      cursor: pointer;
      color: @pink;
    }

  }

  md-card {
    justify-content: space-around;
  }
  ul.list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    width: 65%;
    float: left;
    li {
      width: 33%;
      display: inherit;

      a:hover {
        cursor: pointer;
      }
      p {
        color: @lightBlue;
      }
      p.genre {
        color: @brown;
      }

      md-card {
        height: 100%;
        width: 100%;
        h3, h4 {
          text-decoration: none;
          font-size: 12px;
          padding: 0 5px;
        }
        h3 {
          font-size: 16px;
          font-weight: bold;
          transition: all 0.4s;

        }
        .cost {
          color: @pink;
          font-size: 18px;
        }

      }
    }
    img.md-card-image {
      display: block;
      margin: auto;
    }
  }
  .fadein  {
    transition: all 0.5s linear;
  }
  .fadein.ng-enter {
    animation: fadeIn  1s;
  }

  .fadein.ng-leave {
    animation: fadeOutDown  1s;
  }

  @media screen and (max-width: 768px) {

  }

}
