@mainColor: #fafafa;
@mainFontColor: darkblue;

body {
  background: @mainColor;
  background-image: url(../img/concrete-texture.png);
  background-repeat: repeat;
  color: @mainFontColor;
  font-size: 14px;
  margin: 0;
  padding: 0;
  h3, h4 {
    margin:5px;
  }
  }