.showOrdersStyle {
  h1, h2 {
    text-align: center;
  }
  ul {
    margin: 20px;
    list-style: none;
    background: url(http://lab.sid05.com/MYTumblr/iloveblogdesign/page-white.png);
    width: 65%;
    background-size: cover;
    min-height: 300px;
    padding: 20px;
    background-repeat: no-repeat;
    li {
      color: #dc143c;
      margin: 10px auto;
      font-size: 14px;
      display: flex;
      justify-content: space-between;
      button {
        margin: 0 20px;
      }
    }

  }
  .sum {
    width: 25%;
    float: right;
    .sumInfo {
      font-size: 160%;
      color: crimson;
      margin: 0 10px;
    }

  }
  .buttons-wrap {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
  }
}